<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head'); %> 
  <title>Invalid page</title>
  <%- include('./partials/css-global'); %>
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/404.css">
</head>

<body>
  
  <!--This section contains the navigation bar which will be at the top of the page-->
  <%- include('./partials/header-nav', {current:""}); %>

  <!--This is the main section containing the custom 404 page-->
  <main>
      <div class="pagebody">
        <div class= page-content>
          <h1>404: ERROR</h1>
          <p>oops! page does not exist</p>

          <!--This link can be clicked by the user to return to the home page-->
          <a href="/">Back to Home Page</a>
        </div>
      </div>
  </main>

  <!--Footer will be below the page-->
  <%- include('./partials/foot'); %>

  <!--This contains the javascript for hamburger menu-->
  <%- include('./partials/gallery-js'); %>
</body>
</html>