<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head'); %> 
  <title>Contact Us</title>
  <%- include('./partials/css-global'); %>
  <lynk rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/index.css">
  <link rel="stylesheet" href="/css/gallery.css">
</head>

<body>
  
  <header>
  <!--This section contains the navigation bar which will be at the top of the page-->
  <%- include('./partials/header-nav', {current:"contact"}); %>
  </header> 

  <!--This is the contact us section-->
  <main id="contact">
        
    <!--Contact form using fieldset, legend, labels and input type-->
    <form id="information" action="https://formspree.io/xgennzer" method="post">
      <fieldset> 
        <legend></legend>
        <h2>Contact Us Now </h2>
        <h4>Send us a message will be happy to hear from you</h4>
        <div>
          <label for="Name" class="required">
          <span>Name </span>
          <input placeholder="Enter full name" type="text" required>
          </label>
        </div>
        <div>
          <label for="Email" class="required">
            <span>Email </span>
          <input placeholder="example@website.com" type="email" required>
          </label>
        </div>
        <div>
          <label for="tel"><span>Phone </span>
          <input placeholder="Enter your phone number including country and area code" type="tel" required>
          </label>
        </div>

        <div>
          <label><span>Additional Information</span>
            <textarea placeholder="What do you want us to know about your upcoming trip?">
            </textarea>
          </label>
        </div>
        <div>
          <button name="submit" type="submit" id="contact-submit">Submit</button>
        </div>
      </fieldset>
    </form>

    <!--This div contains company contact information for users-->
    <div class="list"></div>

    <div class="agentList"></div>
          
  </main>

  <!--Footer will be below the page-->
  <%- include('./partials/foot'); %>

  <!--This contains the javascript for hamburger menu and image gallery array for each loop-->
  <!-- <%- include('./partials/gallery-js'); %> -->
  <script src="./js/agency.js"></script>
</body>
</html>
