<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head'); %> 
  <title>Contact Us</title>
  <%- include('./partials/css-global'); %>
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/index.css">
  <link rel="stylesheet" href="/css/gallery.css">
</head>

<body>
  
  <header>
  <!--This section contains the navigation bar which will be at the top of the page-->
  <%- include('./partials/header-nav', {current:"contact"}); %>
  </header> 

  <!--This is the contact us section-->
  <main id="contact">
        
    <!--Contact form using fieldset, legend, labels and input type-->
    <form id="information" action="https://formspree.io/xgennzer" method="post">
      <fieldset> 
        <legend></legend>
        <h2>Contact Us Now </h2>
        <h4>Send us a message and a travel expert will be happy to reach you</h4>
        <div>
          <label for="Name" class="required">
          <span>Name </span>
          <input placeholder="Enter full name" type="text" required>
          </label>
        </div>
        <div>
          <label for="Email" class="required">
            <span>Email </span>
          <input placeholder="example@website.com" type="email" required>
          </label>
        </div>
        <div>
          <label for="tel"><span>Phone </span>
          <input placeholder="Enter your phone number including country and area code" type="tel" required>
          </label>
        </div>
        <div>
        
          <!--selection of continent from a drop down list-->
          <label><span>Continent of travel (if known)</span>
           <select id="continent" name="Continent">
              <option value="select">Select a continent</option>
              <option value="australia">Australia</option>
              <option value="north_america">North America</option>
              <option value="south_america">South America</option>
              <option value="Asia">Asia</option>
              <option value="europe">Europe</option>
              <option value="africa">Africa</option>
            </select>
          </label>
        </div>
        <div>
          <label><span>Additional Information</span>
            <textarea placeholder="What do you want us to know about your upcoming trip?">
            </textarea>
          </label>
        </div>
        <div>
          <button name="submit" type="submit" id="contact-submit">Submit</button>
        </div>
      </fieldset>
    </form>

    <!--This div contains company contact information for users-->
    <div class="agencyList"></div>
    <div class ="address">
      <p>Salem Travel Expert Agency<br>
      </p>
      
      <h2>Calgary Office</h2>
      <p>Phone - (403) 555-9876<br>
      Email - salemcalgary@gmail.com<br>
      Address - 240-734 7 Ave SW, Calgary, AB T2P 3P8
      </p>

      <!--Google map for comapny location-->
      <div class="maps">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d20066.63207975867!2d-114.09553766214036!3d51.04701247956212!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x53716fe472f607e7%3A0xff059970e78f52c1!2sManpower!5e0!3m2!1sen!2sca!4v1593930164715!5m2!1sen!2sca" width="300" height="150"></iframe>
      </div>

      <h2>Okotokes Office</h2>
      <p>Phone - (403) 555-1234<br>
      Email - salemokotokes@gmail.com<br>
      Address - 240-734 7 Ave SW, Calgary, AB T2P 3P8
      </p>

      <!--Google map for comapny location-->
      <div class="maps">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d20066.63207975867!2d-114.09553766214036!3d51.04701247956212!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x53716fe472f607e7%3A0xff059970e78f52c1!2sManpower!5e0!3m2!1sen!2sca!4v1593930164715!5m2!1sen!2sca" width="300" height="150"></iframe>
      </div>
    </div>
  </main>

  <!--Footer will be below the page-->
  <%- include('./partials/foot'); %>

  <!--This contains the javascript for hamburger menu and image gallery array for each loop-->
  <%- include('./partials/gallery-js'); %>
  <script src="/public/js/agency.js"></script>
</body>
</html>
