<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head'); %> 
  <title><%= PkgName %>!</title>
  <%- include('./partials/css-global'); %>
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/single.css">
</head>

<body>
  
  <!--This section contains the navigation bar which will be at the top of the page-->
  <%- include('./partials/header-nav', {current:"destination"}); %>

  <!--This is the main section containing a large image each of the images in the gallery-->
  <main class="large-images">
    
    <!--card design is used for each image and caption-->
    <button>Book Now</button>
    <figure>
      <img src="http://picsum.photos/id/<%= id %>/650/483" alt="<%= name %>">
      <figcaption>Visit <%= tourIdea %> in <%= name %>!</figcaption>
    </figure>

    <!--This contains the description for each image as stored in the database-->
    <h5><%= description %></h5>
    <h5><%= startDate %></h5>
    <h5><%= endDate %></h5>
    <h5><%= packagePrice %></h5>
  </main>
  
  <!--Footer will be below the page-->
  <%- include('./partials/foot'); %>

  <!--This contains the javascript for hamburger menu-->
  <%- include('./partials/gallery-js'); %>
  
</body>
</html>