<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head'); %> 
  <title>Vacation Packages</title>
  <%- include('./partials/css-global'); %>
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/index.css">
</head>

<body>
  
  <header>
    <!--This section contains the navigation bar which will be at the top of the page-->
    <%- include('./partials/header-nav', {current:"explore"}); %>
  </header> 

  <main>
  <!--This is the Gallery containing images for different destinations. The For each loop is used below-->
  <div id="explore">
    <h2>Vacation Packages</h2>
  <div class="packages">
    <div class="package1">
      <div><img src="http://picsum.photos/id/1031/350/200" alt="slider image"></div>
      <div><h3>Peru, Western South America</h3></div>
      <div><p>YYC Calgary to LAX Los Angeles<br> 8th Aug. - 15th Aug  *** 7 days</p></div>
      <div class="price">
        <div class="pricetag"><a href=""><i class="fas fa-plane"></i></a>
        <p><em>$2,600</em><br>including hotel</p></div>
        <a class="ordernow" href="order"><button>Book Now</button></a>
      </div>
    </div>

      <div class="package2">
        <div><img src="http://picsum.photos/id/1031/350/200" alt="slider image"></div>
        <div><h3>Peru, Western South America</h3></div>
        <div><p>YYC Calgary to LAX Los Angeles<br> 8th Aug. - 15th Aug  *** 7 days</p></div>
        <div class="price">
          <div class="pricetag"><a href=""><i class="fas fa-plane"></i></a>
          <p><em>$2,600</em><br>including hotel</p></div>
          <a class="ordernow" href="order"><button>Book Now</button></a>
          </div>
        </div>

        <div class="package3">
          <div><img src="http://picsum.photos/id/1031/350/200" alt="slider image"></div>
          <div><h3>Peru, Western South America</h3></div>
          <div><p>YYC Calgary to LAX Los Angeles<br> 8th Aug. - 15th Aug  *** 7 days</p></div>
          <div class="price">
            <div class="pricetag"><a href=""><i class="fas fa-plane"></i></a>
            <p><em>$2,600</em><br>including hotel</p></div>
            <a class="ordernow" href="order"><button>Book Now</button></a>
            </div>
        </div>

        <div class="package4">
          <div><img src="http://picsum.photos/id/1031/350/200" alt="slider image"></div>
          <div><h3>Peru, Western South America</h3></div>
          <div><p>YYC Calgary to LAX Los Angeles<br> 8th Aug. - 15th Aug  *** 7 days</p></div>
          <div class="price">
            <div class="pricetag"><a href=""><i class="fas fa-plane"></i></a>
            <p><em>$2,600</em><br>including hotel</p></div>
            <a class="ordernow" href="order"><button>Book Now</button></a>
          </div>
        </div>

        <div class="package5">
          <div><img src="http://picsum.photos/id/1031/350/200" alt="slider image"></div>
          <div><h3>Peru, Western South America</h3></div>
          <div><p>YYC Calgary to LAX Los Angeles<br> 8th Aug. - 15th Aug  *** 7 days</p></div>
          <div class="price">
            <div class="pricetag"><a href=""><i class="fas fa-plane"></i></a>
            <p><em>$2,600</em><br>including hotel</p></div>
            <a class="ordernow" href="order"><button>Book Now</button></a>
          </div>
        </div>

        <div class="package6">
          <div><img src="http://picsum.photos/id/1031/350/200" alt="slider image"></div>
          <div><h3>Peru, Western South America</h3></div>
          <div><p>YYC Calgary to LAX Los Angeles<br> 8th Aug. - 15th Aug  *** 7 days</p></div>
          <div class="price">
            <div class="pricetag"><a href=""><i class="fas fa-plane"></i></a>
            <p><em>$2,600</em><br>including hotel</p></div>
            <a class="ordernow" href="order"><button>Book Now</button></a>
          </div>
        </div>
  </div>  
  </main>

<!--Footer will be below the page-->
<%- include('./partials/foot'); %>

<!--This contains the javascript for hamburger menu and image gallery array for each loop-->
<%- include('./partials/gallery-js'); %>
</body>
</html>
