<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head'); %> 
  <title>Travel Experts Agency Website - Home Page</title>
  <%- include('./partials/css-global'); %>
  <link rel="stylesheet" href="/css/index.css">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/popup.css">
</head>

<body>
  
  <!--This section contains the navigation bar which will be at the top of the page-->
  <%- include('./partials/header-nav', {current:"Home"}); %>
  
  <main>
    
    <!--This is the hero section, containing a logo, texts and a register button which is the website goal-->
    <div class="hero-section">
      
          
      <!--hero section texts and register button-->
      <div class="hero-text">
        <h1>Connect to the <span>World</span> With Great Adventures</h1>
        <p>Explore and Save More</p>
        <a class="web-goal" href="register">Sign Up Here!</a>
      </div>
    </div>

    <h2>VACATION PACKAGES - Summer Deals</h2>

    <div class="gallery"></div>
 
    
    <!-- website pop up code - pops up once the website opens -->
    <div class="popupBox">
      <div class="popContainer">
        <div class="toolbar">
          <span class="close" onclick="popupBoxClose()">x</span>
        </div>
          <h2>Welcome! We've got you covered</h2>
          <img src="images/logo.png" alt="image">
          <p class="pop"> Plan your next adventure with Us </p>
          <a href="/register"><button>Register</button></a>
          <p>Already have an account?</p>
          <a href="/login"><button>Sign in</button></a>
      </div>
    </div>

  </main>
  <!--Footer will be below the page-->
  <%- include('./partials/foot'); %>

  <!--This contains the javascript for hamburger menu and image gallery array for each loop-->
  <%- include('./partials/gallery-js'); %>
</body>
</html>
