<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head'); %> 
  <title>Register Page</title>
  <%- include('./partials/css-global'); %>
  <link rel="stylesheet" href="/css/main.css">
</head>

<body>
  
  <!--This section contains the navigation bar which will be at the top of the page-->
  <%- include('./partials/header-nav', {current:"register"}); %>

  <main>
    <!--This section contains a registration form for users sign up-->
    <div id="register">
      <%- include('./partials/messages.ejs'); %>
      <!--Registration form using fieldset, legend, label and input type-->
      <form action="/register" method="POST">
        <fieldset>
          <legend></legend>
          <label for="username" class="required"><span>Name</span>
            <input type="text" name="username" id="username" placeholder="Enter full name" value="<%= typeof username != 'undefined' ? username : '' %>" required>
          </label>    
          <label for="email" class="required"><span>Email</span>
            <input type="email" name="email" id="email" placeholder="Enter full name" value="<%= typeof email != 'undefined' ? email : '' %>" required>
          </label>
          <label for="streetAddress" class="required"><span>Street Address</span>
            <input type="address" name="address" id="address" placeholder="123 Fake Street" value="<%= typeof address != 'undefined' ? address : '' %>" required>
          </label>
          <label for="city" class="required"><span>City</span>
            <input type="city" name="city" id="city" placeholder="City" value="<%= typeof city != 'undefined' ? city : '' %>" required>
          </label>
          <label for="provence" class="required"><span>Provence</span>
            <input type="provence" name="provence" id="provence" placeholder="Provence" value="<%= typeof provence != 'undefined' ? provence : '' %>" required>
          </label>
          <label for="postal" class="required"><span>Postal Code</span>
            <input type="postal" name="postal" id="postal" placeholder="1A2 B3C" value="<%= typeof postal != 'undefined' ? postal : '' %>" required>
          </label>
          <label for="phone" class="required"><span>Primary Phone</span>
            <input type="phone" name="phone" id="phone" placeholder="(xxx) xxx-xxxx" value="<%= typeof phone != 'undefined' ? phone : '' %>" required>
          </label>
          <label for="password1" class="required">
            <span>Password</span>

            <!--Minimum password length defined-->
            <input type="password" name="password1" id="password1" placeholder="Password should be minimum of 8 characters" minlength="8" value="<%= typeof password1 != 'undefined' ? password1 : '' %>" required>
          </label>
          <label for="password2" class="required">
            <span>Confirm Password</span>
            <input type="password" name="password2" id="password2" placeholder="same as entered above" minlength= "8" value="<%= typeof password2 != 'undefined' ? password2 : '' %>" required>
          </label>
          <label for="subscription" class= "checkbox">Subscribe to Newsletter <span class="checkmark"></span>
            <input type="checkbox" name="subscription" id="subscription">
          </label>     
        </fieldset>

        <!--sign up button-->
        <a href="payment"><button>Sign Up</button></a>
      </form>    
    </div>
  </main>

  <!--Footer will be below the page-->
  <%- include('./partials/foot'); %>

  <!--This contains the javascript for hamburger menu-->
  <%- include('./partials/gallery-js'); %>
</body>
</html>